<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Introducción a VueJS</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>

    <body>

        <h1 id="autor">Autor: Nicolás Mas Forner</h1>

        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <div class="jumbotron">
                <h1 class="py-5 ps-2" style="background-color:Gainsboro;" id="title">{{col.collection.title}}</h1>
            </div>
            <div class="container row mx-auto">

                <div v-for="movie in col.collection.items" class="card col-md-4 mb-1" >
                    <div v-for="item in movie.data" class="m-2">
                    <p class="card-title h5">{{item.prompt}}</p>
                    <p class="card-text">{{item.value}}</p>
                    </div>
                    <a :href="movie.href" class="btn btn-primary me-auto pb-2 mb-2" target="_blank"> Ver </a>
                </div>
            </div>
            <!--
                 TODO: Mostrar datos del objeto collection. Ver archivo ./js/script.js
               - Cargar la librería de VueJS y el script ./js/script.js al final de la etiqueta <body>
               - Cargar el CSS de Bootstrap (no es necesario el JS)
               - Mostrar el título de la colección dentro de un componente Jumbotron de Bootstrap https://getbootstrap.com/docs/4.0/components/jumbotron/. En su interior habrá un <h1> con id "title" que mostrará el título de la colección
               - Para cada item: (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
                 - Crear un componente card de Bootstrap (https://getbootstrap.com/docs/4.0/components/card/)
                 - Mostrar un enlace de tipo botón a la propiedad "href" del item con el texto "Ver"
                 - Mostrar cada uno de los elementos del vector "data" en una lista de definición <dl>. Para cada elemento del vector "data":
                   - El término <dt> será la propiedad "prompt"
                   - La definición <dd> será la propiedad "value"
            -->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        </div>
        <script src="./js/script.js"></script>
    </body>

</html>
